body {
  background: #f3f3f3;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

section {
  padding: 1em 1em 0 2em;
}

section h2 {
  color: #2d2d2d;
  font-size: 2em;
  display: block;
}

section p {
  margin-top: 1.5em;
  font-size: 1.5em;
  color: #2d2d2d;
  display: block;
}

.nav {
  font-size: 1em;
  min-height: 4em;
  position: fixed;
  top: 0;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 0;
}

.logo {
  margin: auto;
  text-align: center;
  margin-top: 4em;
}

.nav ul {
  float: right;
  list-style-type: none;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: block;
}

.nav ul li {
  display: inline;
  padding: 1em;
  font-size: 1em;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  vertical-align: middle;
  line-height: 4em;
  text-transform: uppercase;
}

.nav .active {
  --font-size: 1.2em;
  --font-weight: 700;
  border-bottom: 2px solid #ffffff;
}

.nav a:hover {
  color: #000000;
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.8em;
  min-height: 4em;
  width: 100%;
  color: #ffffff;
}

.footer p {
  margin-left: 3em;
}

.nav,
.footer {
  background-color: #008200;
}

._row div {
  border: 2px solid blue;
}
